<% if current_user %>
  <footer class="bd-none footer-pos">
    <div class="container-fluid bg-faded">
      <div class="container">
        <div class="row">
            <div class="col-md-4 mt1">
              <div class="col-md-12">
                <a class="bg-circle" href=""> <i class="fa fa-twitter" aria-hidden="true"></i> </a> 
                Embed here?
              </div>
            </div>

            <div class="col-md-4 mt1">
              <div class="col-md-12">
                <a class="bg-circle" href=""> <i class="fa fa-address-card" aria-hidden="true"></i></a> 
                Why not?
              </div>
            </div>

            <div class="col-md-4 mt1">
              <div class="col-md-12">
                <a class="bg-circle" href=""> <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a> 
                You like print?
              </div>
            </div>
        </div>
      </div>
    </div>
  </footer>
<% end %>